# Node dependencies
/node_modules

# Build outputs
/dist
/release
/out
/build

# OS / misc
/.DS_Store
Thumbs.db
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Puppeteer/Electron downloads
.chromium/**
.puppeteer/**
